<%= render "shared/second-header"%>

<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      <p>購入が完了しました</p>
      <p>発送までしばらくお待ち下さい</p>
    </h1>

    <%# 購入内容の表示 %>
    <%= render "shared/order-contents-show" %>

    <div class='buy-btn'>
      <%= link_to "トップページへ戻る", "/" , class: "buy-red-btn" %>
    </div>
  </div>
</div>
<%= render "shared/second-footer"%>